


.theBox {

	background-color: blue;
	width: 100%;
	margin: auto;
}
 body {

 	max-width: 100%;

 }

 img {

 	max-width: 100%;

}

 .first {

 	display: flex;
 	width: 100%;
 	


 }






 .left {

 	width: 30%;
 	height: 75px;
 	background-color: red;
 	display: flex;
 }

 .right {

 	width: 70%;
 	height: 75px;
 	background-color: darkblue;

 }



.second {

	display: flex;
	width: 100%;

}

.main {

width: 100%;
height: auto;
background-color: black;
overflow: hidden;

}

.third {

	display: flex;
	width: 100%;

}

.footer {

	width: 100%;
	height: 75px;
	background-color: red;


}