


.theBox {

	background-color: black;
	width: 75%;
	margin: auto;
	position: relative;
	margin-top: 5%;
}
 body {

 	
 	margin: auto;
 	background-color: black;

 }

 img {

 	max-width: 100%;
 	display: block;
 	margin: auto;
}
 .first {

 	display: flex;
 	width: 100%;
 	height: 100px;
 	position: absolute;
 	opacity: 0.70;
 	background-color: black;
 }

@media only screen and (max-width : 736px) and (min-width: 320px ) {
	
	.first {
		flex-direction: column;
		height: 201px;
		position: relative;
		margin: auto;
	}

	
	.left {
		min-width: 100%;
		height: 50%;
		background-color: black;
		display: flex;
		margin: auto;
		opacity: 1;
	}
	
	.right {
		min-width: 100%;
		height: 50%;
		background-color: black;
		text-align: center;
		margin: auto;
		color: white;
		display: flex;
    	flex-direction: column;

	}
 	
	.second {
		min-width: 100%;
    	height: 301px;

	}

	.footer {
		min-width: 100%;
		min-height: 236px;

	}

	.theBox {
		margin: auto;
	}

	.image {

		margin: auto;

	}
	img {
		max-width: 100%;
	}
	.menu {
	height: 40px;
	width: 40px;
	
	margin: auto;

	}
	ul {
		margin: auto;
		display: none;
	}

	ul {
	word-spacing: 30px;
	}

	ul {
	  display: inline;
	  margin: 0;
	  padding: 0;
	}
	
	ul li {
		display: inline-block;
	}
	
	ul li:hover {
		background: #555;
	}
	
	ul li:hover ul {
		display: block;
	}
	
	ul li ul {
	  position: absolute;
	  width: 200px;
	  display: none;
	}
	
	ul li ul li { 
	  background: #555; 
	  display: block; 
	}
	
	ul li ul li a {
		display:block !important;
	} 
	
	ul li ul li:hover {
		background: #666;
	}
	
	div a {
	    text-decoration: none;
	    color: white;
	    font-size: 20px;
	    padding: 15px;
	    display:inline-block;
	    text-align: center;
    	font-family: helvetica;
	}

ol,
 ul {

	margin: auto;
}

	li {




	}


}



@media only screen and (max-width: 1024px)  {

	.theBox {
		min-width: 100%;
		
	}
	ul {
		word-spacing: 30px;

	}
}
@media only screen and (min-width: 737px )  {

	.menu {

		display: none;
}

	.current {
		display: flex;
	}


 .left {
 	
 	margin: auto;

 }

 .right {

 	word-spacing: 32px;

	margin: auto;
	
 	

 }

.image {

	margin: auto;
}


.second {

	display: flex;
	width: 100%;

}

.main {

width: 100%;
height: auto;
background-color: black;
overflow: hidden;

}

.third {

	display: flex;
	width: 100%;

}

.footer {

	width: 100%;
	height: 100px;
	background-color: rgb(12, 12, 12);

}


.menu {
	width: 10%;
	padding: 2%;
	margin: auto;
}

ul li {
		
	display: inline-block;
	
	}

ul li:hover {
		
	
	
	}

ul li ul li:hover {
	
		background: #191919;
	
	}


div a {
	    text-decoration: none;
	    color: #2f2f2f;
	    font-size: 20px;
	    padding: 15px;
	    display:inline-block;
	    text-align: center;
    	font-family: helvetica;
	}






